# Extraemos los datos meteorológicos por año de todas las estaciones de España

In [125]:
# Importamos librerias
import requests
import pandas as pd
import json

In [19]:
anio = ["2013", "2014", "2015", "2016", "2017", "2018", "2019", "2020"]
mes = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]

data3 = []

for i in anio:
    
    data2 = []

    for j in mes:

        # Definimos las fechas deseadas 
        fechaIniStr = f"{i}-{j}-01T00:00:00UTC"
        fechaFinStr = f"{i}-{j}-31T00:00:00UTC"

        # Definimos la clave API
        API_key = "eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJhZHJpYW5vdmE4QGdtYWlsLmNvbSIsImp0aSI6IjVlZmZlZWJiLWJlMTYtNDRmNi05ODE3LTQyZDcxYzQ1M2Q0NSIsImlzcyI6IkFFTUVUIiwiaWF0IjoxNjgzNzMxOTg2LCJ1c2VySWQiOiI1ZWZmZWViYi1iZTE2LTQ0ZjYtOTgxNy00MmQ3MWM0NTNkNDUiLCJyb2xlIjoiIn0.JhaKEwamGJTgxlg_qChYSxyJfg2u9wwZUWMQbNhXmKM"

        # Definimos la URL de la API
        url = f"https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/{fechaIniStr}/fechafin/{fechaFinStr}/todasestaciones/"

        # Tipo de respuesta
        headers = {'accept': 'application/json'} 

        # Añadimos la clave API a los parámetros de la petición
        params = {"api_key":API_key}

        # Realizamos la petición GET
        response = requests.request("GET", url, headers=headers, params=params)

        # Hacemos una petición GET a la URL de datos
        datos_url = response.json()['datos']
        datos_response = requests.get(datos_url, headers=headers)

        # Datos de todas las estaciones meteorológicas de España por mes
        stations_by_month = datos_response.json()

        data = []

        for station in stations_by_month:    
            station_data = {
            'fecha': station.get('fecha', None),
            'indicativo': station.get('indicativo', None),
            'nombre': station.get('nombre', None),
            'provincia': station.get('provincia', None),
            'altitud': station.get('altitud', None),
            'tmed': station.get('tmed', None),
            'prec': station.get('prec', None),
            'tmin': station.get('tmin', None),
            'horatmin': station.get('horatmin', None),
            'tmax': station.get('tmax', None),
            'horatmax': station.get('horatmax', None),
            'dir': station.get('dir', None),
            'velmedia': station.get('velmedia', None),
            'racha': station.get('racha', None),
            'horaracha': station.get('horaracha', None),
            'sol': station.get('sol', None),
            'presMax': station.get('presMax', None),
            'horaPresMax': station.get('horaPresMax', None),
            'presMin': station.get('presMin', None),
            'horaPresMin': station.get('horaPresMin', None)
            }
            # Añadimos los datos de cada estación por dia de todo el mes a la variable data
            data.append(station_data)

        # Añadimos todos los datos de todas las estaciones del mes X a la lista data2
        data2.append(data)
        
    # Añadimos todos los datos del año a la lista data3
    data3.append(data2)
    
# Creamos un dataframe para la union de todos los años y meses y estaciones
df = pd.DataFrame([val for sublist in data3 for subsublist in sublist for val in subsublist])

+ Una vez tenemos los datos de todas las estaciones para los años de 2013-2020, procedemos a eliminar los duplicados, ya que cuando especificamos en el código los periodos 01-01-20XX al 31-01-20XX estamos diciendo que nos coja para todos los meses 31 días y como bien sabemos hay meses que no tienen 31 días, de modo que el sistema lo que hace es coger 31 días independientemente, asi que si encontramos en el mes de febrero y especifícamos 31 días cogerá los 3 días siguientes de marzo. 


+ Una vez explicado este pequeño problema, simplemente eliminando los duplicados del dataframe nos aseguramos que no tenemos repetida más de una vez una misma fila.

In [154]:
# Dataframe sin duplicados
datos_meteorologicos = df.drop_duplicates()
datos_meteorologicos.head()

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,sol,presMax,horaPresMax,presMin,horaPresMin
0,2013-01-01,4358X,DON BENITO,BADAJOZ,273,"8,8","0,0","5,3",23:50,"12,2",14:50,31,"1,4","5,8",14:20,"1,6","993,2",24,"987,7",Varias
1,2013-01-01,4220X,PUEBLA DE DON RODRIGO,CIUDAD REAL,531,"6,2",None,"2,2",23:40,"10,3",16:10,03,"0,8","3,1",11:30,None,None,None,None,None
2,2013-01-01,C447A,TENERIFE NORTE AEROPUERTO,STA. CRUZ DE TENERIFE,632,"13,9","0,1","12,3",05:50,"15,5",15:58,99,"2,5","8,3",Varias,"0,2","955,4",Varias,"953,2",14
3,2013-01-01,6106X,ANTEQUERA,MALAGA,408,"8,6","1,6","6,6",01:30,"10,5",12:20,32,"1,4","6,4",21:10,None,"975,3",24,"972,1",05
4,2013-01-01,9698U,TALARN,LLEIDA,807,"4,6","0,0","0,5",03:20,"8,7",13:40,16,"1,4","4,7",11:40,"4,0","925,1",24,"920,0",05

In [155]:
# Seleccionamos aquellas variables de interés y descartamos las que no usaremos
datos_meteorologicos = datos_meteorologicos.drop(["horatmin", "horatmax", "horaracha", \
                                                 "horaPresMax", "horaPresMin"], axis = 1)

In [156]:
# TODOS los datos son de tipo "object"
datos_meteorologicos.dtypes

fecha         object
indicativo    object
nombre        object
provincia     object
altitud       object
tmed          object
prec          object
tmin          object
tmax          object
dir           object
velmedia      object
racha         object
sol           object
presMax       object
presMin       object
dtype: object

In [159]:
# Convertimos aquellos datos que son de tipo integer y fecha
numeric_columns = ["tmed", "prec", "tmin", "tmax", "velmedia", "racha", "sol", "presMax", "presMin"]
date_column = ["fecha"]

# Convertimos los datos numericos que contienen "," por ".". Además, convertimos los datos numéricos a integer
datos_meteorologicos[numeric_columns] = datos_meteorologicos[numeric_columns].applymap(lambda x: str(x).replace(',', '.')).apply(pd.to_numeric, errors = "coerce")
datos_meteorologicos["altitud"] = pd.to_numeric(datos_meteorologicos["altitud"], errors="coerce")
datos_meteorologicos["dir"] = pd.to_numeric(datos_meteorologicos["dir"], errors="coerce")

# Convertimos la variable "fecha" a "date"
datos_meteorologicos[date_column] = datos_meteorologicos[date_column].apply(pd.to_datetime, format="%Y-%m-%d", errors = "ignore")

In [163]:
# Cambiamos el nombre de las variables para hacerlas más amigables
datos_meteorologicos.columns = ["Fecha", "Indicador", "Estacion", "Provincia", "Altitud", "TempMed", "Precip", \
                               "TempMin", "TempMax", "DirViento", "VelMedViento", "RachaViento", "TiempoSol", \
                               "PresionMax", "PresionMin"]

In [196]:
# Cambiamos los nombres de la variable "Provincia"
cambio_nombres = {'BADAJOZ': 'Badajoz', 'CIUDAD REAL': 'Ciudad Real',\
                  'STA. CRUZ DE TENERIFE': 'Santa Cruz de Tenerife', 'MALAGA': 'Málaga',\
                  'LLEIDA': 'Lleida', 'OURENSE': 'Ourense', 'ALICANTE': 'Alicante', 'HUESCA': 'Huesca',\
                  'BURGOS': 'Burgos', 'ZARAGOZA': 'Zaragoza', 'CANTABRIA': 'Cantabria', 'ALMERIA': 'Almería',\
                  'ASTURIAS': 'Asturias', 'CUENCA': 'Cuenca', 'BIZKAIA': 'Vizcaya', 'MURCIA': 'Murcia',\
                  'GUADALAJARA': 'Guadalajara', 'LAS PALMAS': 'Las Palmas', 'MADRID': 'Madrid',\
                  'TARRAGONA': 'Tarragona', 'VALENCIA': 'Valencia', 'GIRONA': 'Girona', 'TOLEDO': 'Toledo',\
                  'GIPUZKOA': 'Guipúzcoa', 'CACERES': 'Cáceres', 'ZAMORA': 'Zamora', 'ALBACETE': 'Albacete', \
                  'LA RIOJA': 'La Rioja', 'JAEN': 'Jaén', 'ILLES BALEARS': 'Islas Baleares',\
                  'GRANADA': 'Granada', 'SALAMANCA': 'Salamanca', 'HUELVA': 'Huelva', 'SEGOVIA': 'Segovia',\
                  'CADIZ': 'Cádiz', 'AVILA': 'Ávila', 'CORDOBA': 'Córdoba', 'VALLADOLID': 'Valladolid',\
                  'A CORUÑA': 'A Coruña', 'SEVILLA': 'Sevilla', 'NAVARRA': 'Navarra', 'LUGO': 'Lugo',\
                  'LEON': 'León', 'CASTELLON': 'Castellón', 'BARCELONA': 'Barcelona', 'PALENCIA': 'Palencia',\
                  'TERUEL': 'Teruel', 'CEUTA': 'Ceuta', 'SORIA': 'Soria', 'PONTEVEDRA': 'Pontevedra', \
                  'ARABA/ALAVA': 'Álava', 'MELILLA': 'Melilla'}

datos_meteorologicos['Provincia'] = datos_meteorologicos['Provincia'].replace(cambio_nombres)

# SELECCION DE UNA UNICA ESTACION POR PROVINCIA

+ He seleccionado la estación que dispone de más datos, ya que además es la estación que suele representar más a la provincia

In [229]:
# Creamos una copia del dataframe
datos_meteorologicos_copia = datos_meteorologicos.copy()
datos_meteorologicos_copia.head(2)

,Fecha,Indicador,Estacion,Provincia,Altitud,TempMed,Precip,TempMin,TempMax,DirViento,VelMedViento,RachaViento,TiempoSol,PresionMax,PresionMin
0,2013-01-01,4358X,DON BENITO,Badajoz,273,8.8,0.0,5.3,12.2,31.0,1.4,5.8,1.6,993.2,987.7
1,2013-01-01,4220X,PUEBLA DE DON RODRIGO,Ciudad Real,531,6.2,NaN,2.2,10.3,3.0,0.8,3.1,NaN,NaN,NaN

In [241]:
# Agrupa los datos por provincia y estación meteorológica
counts = datos_meteorologicos_copia.groupby(['Provincia', 'Estacion']).size()

# Ordena los grupos por el número de registros en orden descendente
sorted_counts = counts.groupby('Provincia', group_keys=False).nlargest(1).reset_index(level=[0,1])

# Unir el dataframe original con el índice seleccionado utilizando merge
estacionProvincia = pd.merge(datos_meteorologicos_copia, sorted_counts, on=['Provincia', 'Estacion'])

In [259]:
# Guardamos el dataset como CSV
estacionProvincia.to_csv('datos_meteorologicos.csv', index=False)